[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
pandas = "*"
whitenoise = "*"
psycopg2 = "*"
aiohttp = "*"
aiosignal = "*"
appnope = "*"
asgiref = "*"
asttokens = "*"
asyncio = "*"
attrs = "*"
backcall = "*"
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
comm = "*"
debugpy = "*"
decorator = "*"
et-xmlfile = "*"
executing = "*"
frozenlist = "*"
google-play-scraper = "*"
gtts = "*"
idna = "*"
ipykernel = "*"
ipython = "*"
jedi = "*"
jupyter-client = "*"
jupyter-core = "*"
matplotlib-inline = "*"
multidict = "*"
nest-asyncio = "*"
openpyxl = "*"
packaging = "*"
parso = "*"
pdfkit = "*"
pexpect = "*"
pickleshare = "*"
platformdirs = "*"
prompt-toolkit = "*"
psutil = "*"
ptyprocess = "*"
pure-eval = "*"
pydub = "*"
pygments = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
pyzmq = "*"
requests = "*"
six = "*"
soupsieve = "*"
sqlparse = "*"
stack-data = "*"
tornado = "*"
traitlets = "*"
urllib3 = "*"
wcwidth = "*"
wkhtmltopdf = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.9"
